.editor_ousupsub_content_wrap {
    background-color: white;
    color: #333;
}
.editor_ousupsub_content {
    vertical-align: center;
    padding: 5px;
}

.editor_ousupsub_content_wrap,
.editor_ousupsub + textarea {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0;
    border: 1px solid #BBB;
    border-top: none;
    overflow-x: auto;
}

.editor_ousupsub + textarea {
    border-radius: 0;
    margin-top: -1px;
}

div.editor_ousupsub_toolbar {
    display: block;
    background: #F2F2F2;
    border: 1px solid #BBB;
    width: 100%;
}

div.editor_ousupsub_toolbar button {
    padding: 0;
    background: none;
    border: 0;
    margin: 0;
    border-radius: 0;
    cursor: pointer;
    line-height: 20px;
    width: 30px;
    height: 20px;
 }

div.editor_ousupsub_toolbar button + button {
    border-left: 1px solid #CCC;
}
body.dir-rtl div.editor_ousupsub_toolbar button + button {
    border-left: 0;
    border-right: 1px solid #CCC;
}

div.editor_ousupsub_toolbar button[disabled] {
    opacity: .45;
    background: none;
    cursor: default;
}

.editor_ousupsub_toolbar button:hover {
    background-image: radial-gradient(ellipse at center, #ffffff 60%,#D2691E 100%);
    background-color: #ebebeb;
}

.editor_ousupsub_toolbar button:active, .editor_ousupsub_toolbar button.highlight {
    background-image: radial-gradient(ellipse at center, #ffffff 40%,#D2691E 100%);
    background-color: #dfdfdf;
}

/* Make firefox button sizes match other browsers */
div.editor_ousupsub_toolbar button::-moz-focus-inner {
    border:0;
    padding:0;
}

div.editor_ousupsub_toolbar button img.icon {
    padding: 0;
    margin: 0;
    /* The following is dedicated to the beloved IE8, clashing with Bootstrap. God bless you IE. */
    vertical-align: bottom;
    width: auto;
    height: 17px;
}
div.editor_ousupsub_toolbar button:first-child img.icon {
    vertical-align: top;
}

div.editor_ousupsub_toolbar div.ousupsub_group {
    display: inline-block;
    border: 1px solid #CCC;
    border-bottom: 1px solid #B3B3B3;
    border-radius: 4px;
    background: #FFF;
}
body.dir-rtl div.editor_ousupsub_toolbar div.ousupsub_group {
    margin: 9px 9px 0 0;
}
