
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    background-color: #fff;
}
.editor_ousupsub {
    display: inline-block;
    vertical-align: -14px;
}
body.safari .editor_ousupsub {
    vertical-align: 0;
}
body.ie .editor_ousupsub {
    vertical-align: 26px;
}
/* Moodle does not add an 'edge' classname to body yet, and when they do
   (MDL-50807) the class name used may not be 'edge', but in any case, this is
   the right offset. */
body.edge .editor_ousupsub {
    vertical-align: 25px;
}

.editor_ousupsub_content_wrap {
    border: 1px solid #bbb;
    border-top: none;
    background-color: #fff;
    color: #000;
    white-space: nowrap;
    overflow-x: auto;
}
.editor_ousupsub_content {
    padding: 2px;
}

div.editor_ousupsub_toolbar {
    display: block;
    background: #f2f2f2;
    border: 1px solid #bbb;
    height: 25px;
    line-height: 0;
}

div.editor_ousupsub_toolbar div.ousupsub_group {
    display: inline-block;
    background: #fff;
}

div.editor_ousupsub_toolbar button {
    border: 1px solid #f2f2f2;
    padding: 0;
    width: 35px;
    height: 25px;
    position: relative;
    margin: 0 auto;
    cursor: pointer;
    line-height: 20px;
    background: none;
    border-radius: 0;
}

div.editor_ousupsub_toolbar button:before {
    background: none;
    border: 1px solid #bbb;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

div.editor_ousupsub_toolbar button.ousupsub_undo_button,
div.editor_ousupsub_toolbar button.ousupsub_redo_button {
    display: none;
}

body.dir-rtl div.editor_ousupsub_toolbar button {
    border-right: 0;
    border-left: 1px solid #bbb;
}
div.editor_ousupsub_toolbar button img.icon {
    padding: 0;
    margin: 0;
    /* The following is dedicated to the beloved IE8, clashing with Bootstrap. God bless you IE. */
    vertical-align: bottom;
    width: auto;
    height: 16px;
}
div.editor_ousupsub_toolbar button.ousupsub_superscript_button_superscript img.icon {
    position: relative;
    top: -4px;
}

div.editor_ousupsub_toolbar button[disabled] {
    opacity: .45;
    background: none;
    cursor: default;
}

.editor_ousupsub_toolbar button:hover {
    background-image: radial-gradient(ellipse at center, #fff 60%, #d2691e 100%);
    background-color: #ebebeb;
}

.editor_ousupsub_toolbar button:active,
.editor_ousupsub_toolbar button.highlight {
    background-image: radial-gradient(ellipse at center, #fff 40%, #d2691e 100%);
    background-color: #dfdfdf;
}

/* Make firefox button sizes match other browsers */
div.editor_ousupsub_toolbar button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
